body {
  height: 100%;
}
.intro {
  white-space: nowrap;
}
.vertical-rectangle {
  position: absolute;
  rotate: 45deg;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; /* Adjust the width as needed */
  background-color: rgb(232, 182, 182); /* Adjust the color as needed */
  z-index: -10;
  height: 500%;
  opacity: 0.4;
}
.vertical-rectangle1 {
  position: absolute;
  rotate: -45deg;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; /* Adjust the width as needed */
  background-color: rgb(232, 182, 182); /* Adjust the color as needed */
  z-index: -10;
  height: 800%;
  opacity: 0.4;
}

.photo-grid {
  margin: 100px 0 50px;
  overflow: hidden;
}
.photo-grid__content img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 762px) {
  .photo-grid__content .col[style] {
    transform: none !important;
  }
}
@media screen and (min-width: 763px) {
  .photo-grid__content {
    display: flex;
    justify-content: space-between;
    margin: 0 -25px;
  }
  .photo-grid__content .col {
    width: 50%;
    padding: 0 25px;
  }
  .photo-grid__content .col:last-child {
    margin-top: -50px;
  }
}
.photo-grid__footer {
  text-align: center;
}
.photo {
  max-width: 100%;
  position: relative;
  margin-bottom: 25px;
}
@media screen and (min-width: 763px) {
  .photo {
    margin-bottom: 50px;
  }
}
.photo__img {
  display: block;
}
.photo__duo {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-out;
  backface-visibility: hidden;
}
.photo__duo:hover {
  opacity: 0;
}
@keyframes scrollBob {
  0%,
  10% {
    transform: none;
    opacity: 1;
    color: #919795;
  }
  1%,
  8% {
    transform: translateY(-2px);
    color: var(--fill);
  }
  4% {
    transform: translateY(3px);
    opacity: 1;
    color: #919795;
  }
}

.c {
  position: relative;
  width: 90vmin;
  height: calc(90vmin * 9 / 16);
  margin: auto;
  overflow: hidden;
  /* box-shadow: 0 1.25em 1em -0.5em #0005; */
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
  transition: transform 1s;
}
.c:hover .img {
  transform: translateX(-3%);
  transition-duration: 5s;
}

:root {
  --s1-w: 40vmin;
  --s2-w: 60vmin;
  --s3-w: 10vmin;
}

@-webkit-keyframes move-x {
  50% {
    transform: translateX(var(--x1));
  }
  100% {
    transform: translateX(var(--x2));
  }
}

@keyframes move-x {
  50% {
    transform: translateX(var(--x1));
  }
  100% {
    transform: translateX(var(--x2));
  }
}
.s1,
.s2,
.s3 {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-animation: gg 0.5s ease-out forwards;
  animation: gg 0.5s ease-out forwards;
  pointer-events: none;
}
.c:hover .s1,
.c:hover .s2,
.c:hover .s3 {
  -webkit-animation-name: move-x;
  animation-name: move-x;
}

.s1 {
  left: 100%;
  z-index: 1;
  width: var(--s1-w);
  background-color: #fff;
  mix-blend-mode: difference;
  --x1: -110vmin;
  --x2: -50vmin;
}

.s2 {
  z-index: 2;
  width: calc(var(--s2-w) * 2);
  left: calc(100% + var(--s1-w));
  background-color: #a05f5f;
  --x1: -110vmin;
  --x2: -90vmin;
  opacity: 0.3;
}

.s3 {
  z-index: 2;
  width: 10vmin;
  right: 100%;
  background-color: #e87474;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  --x1: 0;
  --x2: 95%;
}
/* Blockquote */

.classy-bq {
  border-left: 1px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.7em 25px;
  quotes: "\201C""\201D""\2018""\2019";
  color: black;
}
.classy-bq:before {
  color: black;
  content: open-quote;
  font-size: 8em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  opacity: 0.6;
}
blockquote p {
  display: inline;
  font-size: 1.5rem;
  line-height: 1.5;
}
.blockquote-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 0.95;
  padding: 20px;
}
.blockquote-section > cite {
  font-style: none;
}
.cite {
  color: black;
  padding-left: 20px;
  font-size: 1.25rem;
}

/* Fireworks */

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 113px -78.6666666667px #00ff3c, 22px -17.6666666667px lime,
      245px -303.6666666667px #001eff, 169px -60.6666666667px #5900ff,
      203px -286.6666666667px #5e00ff, 14px -262.6666666667px #00ff26,
      -135px 82.3333333333px #ff00e6, -200px -267.6666666667px #8800ff,
      -63px -238.6666666667px #2b00ff, -189px -137.6666666667px #bfff00,
      182px -24.6666666667px #00c8ff, -82px -383.6666666667px #a2ff00,
      -236px -196.6666666667px #2fff00, 150px -50.6666666667px #ffdd00,
      184px -173.6666666667px #00ff7b, 231px -239.6666666667px #00fff2,
      -128px 26.3333333333px #ff1e00, -228px -154.6666666667px #00ff8c,
      50px -121.6666666667px #d5ff00, -184px -286.6666666667px #4d00ff,
      -206px 52.3333333333px #aaff00, 235px -79.6666666667px #ff3700,
      76px -121.6666666667px #37ff00, 59px -50.6666666667px #9d00ff,
      -232px -381.6666666667px #ddff00, -157px 19.3333333333px #e600ff,
      77px -321.6666666667px #00ff40, 26px 40.3333333333px #15ff00,
      -196px -234.6666666667px #bb00ff, -215px -217.6666666667px #00ff2f,
      235px -55.6666666667px #0095ff, 13px -49.6666666667px #88ff00,
      -10px -15.6666666667px #c800ff, -192px -81.6666666667px #7bff00,
      162px -273.6666666667px #002fff, 202px -112.6666666667px #ff0009,
      59px -84.6666666667px #f2ff00, -130px -185.6666666667px #62ff00,
      -157px -311.6666666667px #ff005e, 199px 15.3333333333px #00ff80,
      247px 51.3333333333px #ff9d00, 154px 55.3333333333px #ff6a00,
      -227px -369.6666666667px #00e1ff, 80px -237.6666666667px #00ff91,
      -124px -47.6666666667px #0091ff, -113px 40.3333333333px #6aff00,
      -202px -63.6666666667px #7700ff, 96px -117.6666666667px #0055ff,
      49px -110.6666666667px #62ff00, -97px -33.6666666667px #001eff,
      164px 35.3333333333px #00ff7b;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 113px -78.6666666667px #00ff3c, 22px -17.6666666667px lime,
      245px -303.6666666667px #001eff, 169px -60.6666666667px #5900ff,
      203px -286.6666666667px #5e00ff, 14px -262.6666666667px #00ff26,
      -135px 82.3333333333px #ff00e6, -200px -267.6666666667px #8800ff,
      -63px -238.6666666667px #2b00ff, -189px -137.6666666667px #bfff00,
      182px -24.6666666667px #00c8ff, -82px -383.6666666667px #a2ff00,
      -236px -196.6666666667px #2fff00, 150px -50.6666666667px #ffdd00,
      184px -173.6666666667px #00ff7b, 231px -239.6666666667px #00fff2,
      -128px 26.3333333333px #ff1e00, -228px -154.6666666667px #00ff8c,
      50px -121.6666666667px #d5ff00, -184px -286.6666666667px #4d00ff,
      -206px 52.3333333333px #aaff00, 235px -79.6666666667px #ff3700,
      76px -121.6666666667px #37ff00, 59px -50.6666666667px #9d00ff,
      -232px -381.6666666667px #ddff00, -157px 19.3333333333px #e600ff,
      77px -321.6666666667px #00ff40, 26px 40.3333333333px #15ff00,
      -196px -234.6666666667px #bb00ff, -215px -217.6666666667px #00ff2f,
      235px -55.6666666667px #0095ff, 13px -49.6666666667px #88ff00,
      -10px -15.6666666667px #c800ff, -192px -81.6666666667px #7bff00,
      162px -273.6666666667px #002fff, 202px -112.6666666667px #ff0009,
      59px -84.6666666667px #f2ff00, -130px -185.6666666667px #62ff00,
      -157px -311.6666666667px #ff005e, 199px 15.3333333333px #00ff80,
      247px 51.3333333333px #ff9d00, 154px 55.3333333333px #ff6a00,
      -227px -369.6666666667px #00e1ff, 80px -237.6666666667px #00ff91,
      -124px -47.6666666667px #0091ff, -113px 40.3333333333px #6aff00,
      -202px -63.6666666667px #7700ff, 96px -117.6666666667px #0055ff,
      49px -110.6666666667px #62ff00, -97px -33.6666666667px #001eff,
      164px 35.3333333333px #00ff7b;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 113px -78.6666666667px #00ff3c, 22px -17.6666666667px lime,
      245px -303.6666666667px #001eff, 169px -60.6666666667px #5900ff,
      203px -286.6666666667px #5e00ff, 14px -262.6666666667px #00ff26,
      -135px 82.3333333333px #ff00e6, -200px -267.6666666667px #8800ff,
      -63px -238.6666666667px #2b00ff, -189px -137.6666666667px #bfff00,
      182px -24.6666666667px #00c8ff, -82px -383.6666666667px #a2ff00,
      -236px -196.6666666667px #2fff00, 150px -50.6666666667px #ffdd00,
      184px -173.6666666667px #00ff7b, 231px -239.6666666667px #00fff2,
      -128px 26.3333333333px #ff1e00, -228px -154.6666666667px #00ff8c,
      50px -121.6666666667px #d5ff00, -184px -286.6666666667px #4d00ff,
      -206px 52.3333333333px #aaff00, 235px -79.6666666667px #ff3700,
      76px -121.6666666667px #37ff00, 59px -50.6666666667px #9d00ff,
      -232px -381.6666666667px #ddff00, -157px 19.3333333333px #e600ff,
      77px -321.6666666667px #00ff40, 26px 40.3333333333px #15ff00,
      -196px -234.6666666667px #bb00ff, -215px -217.6666666667px #00ff2f,
      235px -55.6666666667px #0095ff, 13px -49.6666666667px #88ff00,
      -10px -15.6666666667px #c800ff, -192px -81.6666666667px #7bff00,
      162px -273.6666666667px #002fff, 202px -112.6666666667px #ff0009,
      59px -84.6666666667px #f2ff00, -130px -185.6666666667px #62ff00,
      -157px -311.6666666667px #ff005e, 199px 15.3333333333px #00ff80,
      247px 51.3333333333px #ff9d00, 154px 55.3333333333px #ff6a00,
      -227px -369.6666666667px #00e1ff, 80px -237.6666666667px #00ff91,
      -124px -47.6666666667px #0091ff, -113px 40.3333333333px #6aff00,
      -202px -63.6666666667px #7700ff, 96px -117.6666666667px #0055ff,
      49px -110.6666666667px #62ff00, -97px -33.6666666667px #001eff,
      164px 35.3333333333px #00ff7b;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 113px -78.6666666667px #00ff3c, 22px -17.6666666667px lime,
      245px -303.6666666667px #001eff, 169px -60.6666666667px #5900ff,
      203px -286.6666666667px #5e00ff, 14px -262.6666666667px #00ff26,
      -135px 82.3333333333px #ff00e6, -200px -267.6666666667px #8800ff,
      -63px -238.6666666667px #2b00ff, -189px -137.6666666667px #bfff00,
      182px -24.6666666667px #00c8ff, -82px -383.6666666667px #a2ff00,
      -236px -196.6666666667px #2fff00, 150px -50.6666666667px #ffdd00,
      184px -173.6666666667px #00ff7b, 231px -239.6666666667px #00fff2,
      -128px 26.3333333333px #ff1e00, -228px -154.6666666667px #00ff8c,
      50px -121.6666666667px #d5ff00, -184px -286.6666666667px #4d00ff,
      -206px 52.3333333333px #aaff00, 235px -79.6666666667px #ff3700,
      76px -121.6666666667px #37ff00, 59px -50.6666666667px #9d00ff,
      -232px -381.6666666667px #ddff00, -157px 19.3333333333px #e600ff,
      77px -321.6666666667px #00ff40, 26px 40.3333333333px #15ff00,
      -196px -234.6666666667px #bb00ff, -215px -217.6666666667px #00ff2f,
      235px -55.6666666667px #0095ff, 13px -49.6666666667px #88ff00,
      -10px -15.6666666667px #c800ff, -192px -81.6666666667px #7bff00,
      162px -273.6666666667px #002fff, 202px -112.6666666667px #ff0009,
      59px -84.6666666667px #f2ff00, -130px -185.6666666667px #62ff00,
      -157px -311.6666666667px #ff005e, 199px 15.3333333333px #00ff80,
      247px 51.3333333333px #ff9d00, 154px 55.3333333333px #ff6a00,
      -227px -369.6666666667px #00e1ff, 80px -237.6666666667px #00ff91,
      -124px -47.6666666667px #0091ff, -113px 40.3333333333px #6aff00,
      -202px -63.6666666667px #7700ff, 96px -117.6666666667px #0055ff,
      49px -110.6666666667px #62ff00, -97px -33.6666666667px #001eff,
      164px 35.3333333333px #00ff7b;
  }
}
@keyframes bang {
  to {
    box-shadow: 113px -78.6666666667px #00ff3c, 22px -17.6666666667px lime,
      245px -303.6666666667px #001eff, 169px -60.6666666667px #5900ff,
      203px -286.6666666667px #5e00ff, 14px -262.6666666667px #00ff26,
      -135px 82.3333333333px #ff00e6, -200px -267.6666666667px #8800ff,
      -63px -238.6666666667px #2b00ff, -189px -137.6666666667px #bfff00,
      182px -24.6666666667px #00c8ff, -82px -383.6666666667px #a2ff00,
      -236px -196.6666666667px #2fff00, 150px -50.6666666667px #ffdd00,
      184px -173.6666666667px #00ff7b, 231px -239.6666666667px #00fff2,
      -128px 26.3333333333px #ff1e00, -228px -154.6666666667px #00ff8c,
      50px -121.6666666667px #d5ff00, -184px -286.6666666667px #4d00ff,
      -206px 52.3333333333px #aaff00, 235px -79.6666666667px #ff3700,
      76px -121.6666666667px #37ff00, 59px -50.6666666667px #9d00ff,
      -232px -381.6666666667px #ddff00, -157px 19.3333333333px #e600ff,
      77px -321.6666666667px #00ff40, 26px 40.3333333333px #15ff00,
      -196px -234.6666666667px #bb00ff, -215px -217.6666666667px #00ff2f,
      235px -55.6666666667px #0095ff, 13px -49.6666666667px #88ff00,
      -10px -15.6666666667px #c800ff, -192px -81.6666666667px #7bff00,
      162px -273.6666666667px #002fff, 202px -112.6666666667px #ff0009,
      59px -84.6666666667px #f2ff00, -130px -185.6666666667px #62ff00,
      -157px -311.6666666667px #ff005e, 199px 15.3333333333px #00ff80,
      247px 51.3333333333px #ff9d00, 154px 55.3333333333px #ff6a00,
      -227px -369.6666666667px #00e1ff, 80px -237.6666666667px #00ff91,
      -124px -47.6666666667px #0091ff, -113px 40.3333333333px #6aff00,
      -202px -63.6666666667px #7700ff, 96px -117.6666666667px #0055ff,
      49px -110.6666666667px #62ff00, -97px -33.6666666667px #001eff,
      164px 35.3333333333px #00ff7b;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
